.categoryCard {
    margin: 8px;
    width: calc(50% - 16px);
    height: calc(50% - 16px);
}

.categoryCard > button {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.categoryCard > button > img {
    height: 100%;
}

.categoryCardContantContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}

.categoryCardContant {
    position: absolute;
    /* color: rgba(255,255,255,0.7); */
    top: 0;
}

@media screen and (max-width: 600px) {
    .categoryCard {
        width: 100%;
        height: calc(25% - 16px);
    }
}