.levelWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    padding: 4px 8px;
}
