.trick {
    margin-bottom: 4px;
    width: calc(50% - 5px);
}
.trick > button {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
}
/* .trick:hover {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12);
} */

.trickInfoSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 4px;
    margin-left: 16px;
}
.trickTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.trickName {
    padding-left: 6px;
}
.trickLevels {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trickDescripationSection {
    flex: 0 1 50%;
}

.trickFiltersSection {
    margin-right: 16px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 0 1 40%;
}

.trickFiltersSection > div {
    margin-top: 4px;
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .trick {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .trickDescripationSection {
        flex: 0 1 40%;
    }
}