.trick {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
}
.trick:hover {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.trickInfoSection {
    flex: 0 1 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4px;
}
.trickTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.trickName {
    padding-left: 6px;
}
.trickLevels {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}