.pageWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* padding-top: 56px; */
}

.spinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 157px;
    height: calc(100% - 213px);
    flex: 0 0 calc(100% - 215px);
    padding: 0 20px;
    overflow: hidden;
    overflow-y: auto;
    overflow-y: overlay;
}

.main::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}

.openDrawerButton {
    max-width: 56px;
    padding: 16px !important;
}

.addedFiltersSearchInputContainer {
    position: fixed;
    min-height: 56px;
    top: 64px;
    right: 0px;
    padding: 0 40px;
    padding-top: 16px;
    padding-bottom: 8px;
    width: calc(100% - 215px);
    background-color: #fefefe;
    z-index: 99;
}

.searchInputContainer {
    display: flex;
    justify-content: space-between;
}

.searchInput {
    width: 100%;
}


.sildersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.levelsliderStyle {
    flex: 0 0 33%;
}

.activeFilter {
    padding-left: 10px;
}

.showNumberOfTricks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trickListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trickListContainer.centerText {
    height: 100%;
    margin-top: 0;
    flex-direction: column;
}

.loadingSpinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.noResult {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sidebarDivider {
    position: fixed;
    left: 216px;
    z-index: 99;
    top: -1px;
}
.sidebar {
    position: fixed;
    left: 0;
    display: flex;
    flex: 0 0 20%;
}

@media screen and (max-width: 785px) {
    .trickListContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: unset;
        justify-self: unset;
    }
}

@media screen and (max-width: 600px) {
    .main {
        flex: 0 0 100%;
        padding: 0 5px;
    }
    .addedFiltersSearchInputContainer  {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .searchInputContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .searchInput {
        max-width: 60%;
    }
    .loadingSpinnerWrapperScroll {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 10px 0;
    }
    .sidebar {
        min-width: 160px;
        padding-right: 32px;
    }
}

@media screen and (max-width: 425px) {
    .addedFiltersSearchInputContainer {
        padding-left: 16px;
        padding-right: 16px;
    }
    .searchInput {
        max-width: 45%;
    }
}