.appLayout {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    margin-top: 64px;
    direction: rtl;
    overflow: hidden;
  }
  
  .appBar {
    z-index: 999;
  }
  
  .appBarToolbar {
    display: flex;
    justify-content: space-between;
  }